@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  padding: 100px 0 0 0;
  background: radial-gradient(ellipse at top left, #0a0018, #7434b9, #b47332);
  margin: 0;
}

.loginContainer {
  width: 420px;
  margin: 0 auto;
  padding: 30px 40px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  color: #fff;
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.loginContainer h1 {
  font-size: 36px;
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginContainer .inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 10px 0;
}

.inputBox input {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.8rem;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .4);
  border-radius: 40px;
  background: rgba(245, 222, 179, 0.134);
  font-size: 16px;
  color: #fff;
  padding: 15px 45px 15px 15px;
  box-sizing: border-box;
}

.loginForm input::placeholder {
  color: #fff;
}

.loginForm .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.loginForm button {
  width: 100%;
  height: 45px;
  background: linear-gradient(45deg, #edcd3ee7, #d63d8cc8);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  color: black;
  font-weight: 700;
}

.loginForm .error {
  color: red;
  margin-bottom: 1rem;
}

.loginContainer .rememberForgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 5 0 15px;
}

.rememberForgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.rememberForgot a {
  color: #fff;
  text-decoration: none;
}

.rememberForgot a:hover {
  text-decoration: underline;
}

.loginContainer .registerLink {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.registerLink p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.registerLink p a:hover {
  text-decoration: underline;
}
