@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(ellipse at top left, #0a0018, #7434b9, #b47332);
  min-height: 100vh;
  padding: 100px 0 0 0;
}

.registerContainer {
    width: 420px;
    margin: 0 auto;
    padding: 30px 40px;
    border-radius: 10px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: #fff;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.registerContainer h1 {
    text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.registerContainer .inputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
}

.registerContainer input {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    background: #ffffff45;
    font-size: 16px;
    color: black;
    padding: 10px 45px 10px 10px;
    box-sizing: border-box;
}

.signupForm input::placeholder {
  color: white;
  padding-left: 5px;
}

.registerContainer .icon {
    color: white;
    position: absolute;
    margin: 0 15px 15px 0;
    font-size: 16px;
    pointer-events: none;
}

.signupForm button {
  width: 100%;
  height: 45px;
  background: linear-gradient(45deg, #edcd3ee7, #d63d8cc8);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  color: #fff;
  margin-top: 10px;
  font-weight: 700;
}

.alreadyRegisteredLink {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.alreadyRegisteredLink p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.alreadyRegisteredLink p a:hover {
  text-decoration: underline;
}
